.search_container {
    background-color: hsl(var(--clr-white));
    padding: 0.3rem 1rem;
    border-radius: 0.5rem;
    margin-top: 1rem;
    display: flex;
    align-items: center;
    transition: 0.5s;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  }

  .dark_search_container {
    background-color: var(--clr-dark4);
    padding: 0.3rem 1rem;
    border-radius: 0.5rem;
    margin-top: 1rem;
    display: flex;
    align-items: center;
    color: hsl(var(--clr-white));
    transition: 0.5s;
  }

  .searchButton {
    border: none;
    outline: none;
    padding: 0.4rem 0.4rem;
    font-size: var(--fs-200);
    font-weight: 700;
    transition: 0.5s;
    background-color: transparent;
  }
  
  .error {
    color: var(--clr-warning);
    font-size: 0.8rem;
    
  }

  .search_container:focus{
  border: 2px solid var(--clr-primary);
}

input:invalid {
  border: 2px solid var(--clr-warning);
  box-shadow: none;
}